@font-face {
    font-family: 'pipe_dreamregular';
    src: url('pipe_dream_by_triforce89.eot');
    src: url('pipe_dream_by_triforce89.eot?#iefix') format('embedded-opentype'),
         url('pipe_dream_by_triforce89.woff2') format('woff2'),
         url('pipe_dream_by_triforce89.woff') format('woff'),
         url('pipe_dream_by_triforce89.ttf') format('truetype'),
         url('pipe_dream_by_triforce89.svg#pipe_dreamregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,body {
    width:  100%;
      height: 100%;
        margin: 0px;
    }

body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
	font-family: 'pipe_dreamregular';
    font-size:31px;
    position:absolute;
    display: table-cell;
    vertical-align: middle;
}

.yellowfont {
    color: rgb(250, 234,56);
    text-shadow: -1px 0 rgb(158,82,12), 0 1px rgb(158,82,12), 1px 0 rgb(158,82,12), 0 -1px rgb(158,82,12);
    z-index:2;
   -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none;  
}

*:focus {
        outline: 0;
    }

.container {
    padding-top:40px;
}

input {
	font-family: 'pipe_dreamregular';
    font-size:31px;
    padding: 10px;
margin: 0 auto 10px auto;
border-radius: 5px;
border: 2px solid grey;
width: 270px;
display:block;
text-align:center;
}

a {
    text-decoration:none;
    display:block;
    clear:both;
}


ul {
list-style: none;
padding: 0 20px;
border: 2px solid black;
border-radius: 5px;
margin: 20px;
background-color: rgba(0,0,0,0.1);
text-align: left;
}

li {
    padding:10px;
}

h3 {
    margin:10px;
}

section {
    display:none;
    text-align:center;
    height:100%;
    position:absolute;
    margin:auto;
    width:100%;
}


#bitcoinsheader {
    position:absolute;
    left:20px;
    top:20px;
    z-index:6;
    width:200px;
    user-select: none;
    pointer-events:none;
}

#container {
    width:667px;
    height:375px;
    position:absolute;
    background-image:url('images/bgplain.png');
    background-repeat:repeat-x;
    background-size:auto 100%;
    top:0;
}


#waitonbitcoin {
    background-image:url('images/bgplain.png');
    background-repeat:repeat-x;
    background-size:auto 100%;
    display:block;
} 

canvas {
    position:absolute;
    left:0;
}

#playagain {
    width:250px;
    margin:auto;
}

#game {
    width: 667px;
}

#gamebackbtn {
    position:absolute;
    bottom:0;
    left:0;
    padding:20px;
    z-index:2;
}

#score {
    position:absolute;
    top:0;
    right:0;
    padding:20px;
}

#highscore {
    z-index:4;
}

#screen1 {
    display:block;
    background-image:url('images/bgplain.png');
    background-repeat:repeat-x;
    background-size:auto 100%;
}

#enterbitcoin {
    width:350px;
    margin-top:120px;
}

#cashout {
    background-image:url('images/bgplain.png');
    background-repeat:repeat-x;
    background-size:auto 100%;
}

#play {
    background-image:url('images/bgplain.png');
    background-repeat:repeat-x;
    background-size:auto 100%;
    display:block;
}

#hstitle {
    padding:20px;
}

#gametitle {
    padding:20px;
    width:200px;
    margin:auto;
    pointer-events:none;
}

#hsback, #cashoutback {
padding: 0px;
position: absolute;
width: 100px;
margin-left: 20px;
bottom:15px;
}

.btn {
    cursor:pointer;
    padding:10px;
    margin:20px auto;
    border:2px solid black;
    border-radius:5px;
    background-color:yellow;
    color:white;
    width:250px;
-moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
    -webkit-transition: 0.15s linear;
        -moz-transition: 0.15s linear;
            -o-transition: 0.15s linear;
                transition: 0.15s linear;
}

.btn:active {

    -ms-transform: scale(0.975); /* IE 9 */
        -webkit-transform: scale(0.975); /* Chrome, Safari, Opera */
            transform: scale(0.975);
        }

.smaller {
    font-size:18px;
    opacity:0.8;
}

#playbtn, #playagain {
border:2px solid #82A62F;
background: #d5edb6; /* Old browsers */
background: -moz-linear-gradient(top,  #d5edb6 0%, #a5ce39 3%, #a5ce39 50%, #98c03c 51%, #98c03c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5edb6), color-stop(3%,#a5ce39), color-stop(50%,#a5ce39), color-stop(51%,#98c03c), color-stop(100%,#98c03c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d5edb6 0%,#a5ce39 3%,#a5ce39 50%,#98c03c 51%,#98c03c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d5edb6 0%,#a5ce39 3%,#a5ce39 50%,#98c03c 51%,#98c03c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d5edb6 0%,#a5ce39 3%,#a5ce39 50%,#98c03c 51%,#98c03c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d5edb6 0%,#a5ce39 3%,#a5ce39 50%,#98c03c 51%,#98c03c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5edb6', endColorstr='#98c03c',GradientType=0 ); /* IE6-9 */
    text-shadow: -2px 0 #82A62F, 0 2px #82A62F, 2px 0 #82A62F, 0 -2px #82A62F;
}

#cashoutbtn, #createuserbtn, #cashoutbtn2 {
    border:2px solid rgb(253,208,15);
background: #fff3c9; /* Old browsers */
background: -moz-linear-gradient(top,  #fff3c9 0%, #ffdc4e 4%, #ffdc4e 51%, #ffcc00 56%, #ffcc00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff3c9), color-stop(4%,#ffdc4e), color-stop(51%,#ffdc4e), color-stop(56%,#ffcc00), color-stop(100%,#ffcc00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fff3c9 0%,#ffdc4e 4%,#ffdc4e 51%,#ffcc00 56%,#ffcc00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fff3c9 0%,#ffdc4e 4%,#ffdc4e 51%,#ffcc00 56%,#ffcc00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fff3c9 0%,#ffdc4e 4%,#ffdc4e 51%,#ffcc00 56%,#ffcc00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fff3c9 0%,#ffdc4e 4%,#ffdc4e 51%,#ffcc00 56%,#ffcc00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff3c9', endColorstr='#ffcc00',GradientType=0 ); /* IE6-9 */
    text-shadow: -2px 0 rgb(253,208,15), 0 2px rgb(253,208,15), 2px 0 rgb(253,208,15), 0 -2px rgb(253,208,15);
}

#viewhsbtn, #hsback, #gamebackbtn, #cashoutback {
background: #b0d4d4; /* Old browsers */
background: -moz-linear-gradient(top,  #b0d4d4 0%, #b0d4d4 50%, #8ebec9 51%, #8ebec9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0d4d4), color-stop(50%,#b0d4d4), color-stop(51%,#8ebec9), color-stop(100%,#8ebec9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b0d4d4 0%,#b0d4d4 50%,#8ebec9 51%,#8ebec9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b0d4d4 0%,#b0d4d4 50%,#8ebec9 51%,#8ebec9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b0d4d4 0%,#b0d4d4 50%,#8ebec9 51%,#8ebec9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b0d4d4 0%,#b0d4d4 50%,#8ebec9 51%,#8ebec9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4d4', endColorstr='#8ebec9',GradientType=0 ); /* IE6-9 */

text-shadow: -2px 0 #75ABB7, 0 2px #75ABB7, 2px 0 #75ABB7, 0 -2px #75ABB7;
border:2px solid #75ABB7;
}

#playbtn:active, #playagain:active {
background: #98c03c; /* Old browsers */
background: -moz-linear-gradient(top,  #98c03c 0%, #98c03c 49%, #a5ce39 50%, #a5ce39 97%, #d5edb6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98c03c), color-stop(49%,#98c03c), color-stop(50%,#a5ce39), color-stop(97%,#a5ce39), color-stop(100%,#d5edb6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #98c03c 0%,#98c03c 49%,#a5ce39 50%,#a5ce39 97%,#d5edb6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #98c03c 0%,#98c03c 49%,#a5ce39 50%,#a5ce39 97%,#d5edb6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #98c03c 0%,#98c03c 49%,#a5ce39 50%,#a5ce39 97%,#d5edb6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #98c03c 0%,#98c03c 49%,#a5ce39 50%,#a5ce39 97%,#d5edb6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98c03c', endColorstr='#d5edb6',GradientType=0 ); /* IE6-9 */

}

#viewhsbtn:active, #gamebackbtn:active, #hsback:active, #cashoutback:active {
background: #8ebec9; /* Old browsers */
background: -moz-linear-gradient(top,  #8ebec9 0%, #8ebec9 49%, #b0d4d4 50%, #b0d4d4 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8ebec9), color-stop(49%,#8ebec9), color-stop(50%,#b0d4d4), color-stop(100%,#b0d4d4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8ebec9 0%,#8ebec9 49%,#b0d4d4 50%,#b0d4d4 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8ebec9 0%,#8ebec9 49%,#b0d4d4 50%,#b0d4d4 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8ebec9 0%,#8ebec9 49%,#b0d4d4 50%,#b0d4d4 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8ebec9 0%,#8ebec9 49%,#b0d4d4 50%,#b0d4d4 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebec9', endColorstr='#b0d4d4',GradientType=0 ); /* IE6-9 */
}

#cashoutbtn:active, #createuserbtn:active, #cashoutbtn2:active {
background: #ffcc00; /* Old browsers */
background: -moz-linear-gradient(top,  #ffcc00 0%, #ffcc00 44%, #ffdc4e 49%, #ffdc4e 96%, #fff3c9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffcc00), color-stop(44%,#ffcc00), color-stop(49%,#ffdc4e), color-stop(96%,#ffdc4e), color-stop(100%,#fff3c9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffcc00 0%,#ffcc00 44%,#ffdc4e 49%,#ffdc4e 96%,#fff3c9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffcc00 0%,#ffcc00 44%,#ffdc4e 49%,#ffdc4e 96%,#fff3c9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffcc00 0%,#ffcc00 44%,#ffdc4e 49%,#ffdc4e 96%,#fff3c9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffcc00 0%,#ffcc00 44%,#ffdc4e 49%,#ffdc4e 96%,#fff3c9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcc00', endColorstr='#fff3c9',GradientType=0 ); /* IE6-9 */

}

li span {
    float:right;
}

